[Unit]
Description=CAP CUT DRAFT
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=your_username
Group=your_group
Type=simple
ExecStart=/usr/bin/python3 /path/to/your/project/capcut_server.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target